body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: white;
}

.wrapper {
  background-color: black;
  min-height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

/*start page styles*/
.start-page-wrapper {
  min-height: 100vh;
  background-image: url("/src/images/main-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.start-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-title {
  margin: 0px;
  font-size: 111px;
  font-weight: 700;
}

.quiz-select {
  width: 614px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-btn {
  width: 285px;
  height: 60px;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 60px;
  font-size: 22px;
  cursor: pointer;
}

.main-btn:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.main-btn:active {
  background-color: #FFBCA2;;
  color: #FFFFFF;
}

.settings-button {
  position: absolute;
  top: 70px;
  right: 70px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


/*footer styles*/
.main-footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-info {
  width: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-link {
  text-decoration: none;
  color: #FFFFFF;
}

/*universal styles*/
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


/*settings styles*/
.settings-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.settings-container {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.settings-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}

.return-block {
  width: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.return-block > span {
  margin: 0px;
  font-size: 20px;
}

.header-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.setting-block {
  margin-bottom: 80px;
}

.setting-title {
  margin: 0px;
  margin-bottom: 40px;
  color: #FFFFFF;
  font-size: 34px;
}

.settings {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.volume-control {
  width: 492px;
  display: flex;
  flex-direction: column;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 0px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background:#FFFFFF;
  cursor: pointer;
  margin-top: -6px;
  -webkit-appearance: none;
}

.volume-buttons {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.volume-btn {
  width: 30px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.set {
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.switch-text {
  font-size: 24px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  font-size: 12px;
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.back-button:checked + .slider {
  background-color: #FFBCA2;
}

.back-button:focus + .slider {
  box-shadow: 0 0 1px #FFBCA2;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.time-counter {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.time-counter > input {
  margin: auto;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
}

.time-counter-btn {
  width: 30px;
  height: 30px;
  background-color: #FFBCA2;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
}

.minus:hover, .plus:hover {
  background-color: #FFFFFF;
}

.select-time-block {
  margin-bottom: 100px;
}

.save-settings {
  position: absolute;
  right: 0;
  bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.save-settings > .main-btn:first-child {
  margin-right: 20px;
}

.save:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.save:active {
  background-color: #FFBCA2;
}

/*category page*/
.category-header {
  margin-top: 40px;
  margin-bottom: 10px;
  align-items: center;
}

.logo-title {
  margin: 0px;
  width: 300px;
  font-size: 54px;
  font-weight: bold;
}

.logo-title > span {
  color: #FFBCA2;
}

.control-panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.home-icon {
  width: 40px;
  height: 40px;
}

.score-link {
  display: none;
}

.categories-title {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 42px;
}

.categories {
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.category-item {
  margin: 0px;
  margin-right: 20px;
  margin-bottom: 48px;
}

.category-item-header {
  margin: 0px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.category-item-title {
  margin: 0px;
}

.category-cover {
  width: 195px;
  height: 206px;
  border-radius: 5%;
}

/*picture-question styles*/

.question-header {
  margin-top: 20px;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.question-timer {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.time-range {
  width: 715px;
  height: 5px;
}

.current-time {
  margin-left: 15px;
}

.time-range::-webkit-slider-thumb {
  height: 5px !important;
  width: 5px !important;
  margin-top: -1px !important;
}

.picture-question-page .question-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picture-question-page .question-text {
  margin-top: 10px;
  text-align: center;
  font-size: 24px;
}

.picture-question-page .question-img {
  width: 760px;
  height: 470px;
  border-radius: 5%;
  margin-bottom: 25px;
}

.answers-block {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
}

.picture-question-page .answer-btn {
  width: 330px;
  height: 62px;
}

.question-footer{
  position: fixed;
  bottom: 0;
}

@media (max-width: 767px) {
  /*start page styles*/
  .start-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .start-title {
    margin: 0px;
    margin-top: 280px;
    font-size: 42px;
    font-weight: 700;
  }

  .quiz-select {
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-btn {
    margin-bottom: 20px;
  }

  .settings-button {
    top: 20px;
    right: 20px;
  }

  /*setings style*/
  .settings-container {
    margin: 0px;
    margin-top: 20px;
    align-items: center;
  }

  .settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .settings-header {
    width: 100%;
    margin-bottom: 50px;
  }

  .return-block > span {
    margin: 0px;
    font-size: 24px;
    margin-right: 115px;
  }
  
  .setting-block {
    margin-bottom: 50px;
  }
  
  .setting-title {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  .volume-control {
    width: 515px;
    display: flex;
    flex-direction: column;
  }

  .set {
    margin-left: 20px;
  }
  
  .select-time-block {
    margin-bottom: 50px;
  }

  .save-settings {
    position: relative;
    margin-top: 20px;
    min-width: 50%;
    justify-content: space-between;
  }

  .save-settings > .main-btn {
    width: 156px;
    height: 56px;
    border-radius: 60px;
  }

  .save-settings > .main-btn:first-child {
    margin-right: 20px;
  }

  /*category page styles*/
  .category-container {
    width: 95%;
  }

  .category-header {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

  }
  
  .category-header > .logo {
    margin: 0px;
    width: 100%;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  .logo-title {
    margin: 20px 0px;
  }

  .score-link {
    display: block;
  }

  .categories-title {
    font-size: 28px;
  }

  .category-item {
    margin-bottom: 15px;
  }

  .category-item-title {
    margin: 0px;
  }

  .category-cover {
    width: 155px;
    height: 164px;
    border-radius: 5%;
  }

  .main-footer {
    position: relative;
  }

  /*picture-question styles*/
  .picture-question-page .time-range {
    width: 260px;
    height: 5px;
  }

  .picture-question-page .question-img {
    width: 328px;
    height: 294px;
    border-radius: 5%;
    margin-bottom: 25px;
  }

  .picture-question-page .answers-block {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .picture-question-page .answer-btn {
    width: 180px;
    height: 48px;
  }

  .question-footer{
    position: fixed;
    bottom: 0;
  }

  /*artist-question styles*/
  .artist-question-page .question-header {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .artist-question-page .time-range {
    width: 260px;
    height: 5px;
  }

  .artist-question-page .time-range::-webkit-slider-thumb {
    height: 5px !important;
    width: 5px !important;
    margin-top: -1px !important;
  }

  .artist-question-page .question-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .artist-question-page .question-text {
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
  }

  .artist-question-page .answers-block {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .artist-question-page .answer-img {
    width: 200px;
    height: 210px;
    border-radius: 5%;
    margin-bottom: 20px;
  }

  /*results page styles*/
  .result-container {
    width: 95%;
  }

  .result-header {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

  }
  
  .result-header > .logo {
    margin: 0px;
    width: 100%;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  .logo-title {
    margin: 20px 0px;
  }

  .logo-title > span {
    color: #FFBCA2;
  }

  .control-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .home-icon {
    width: 40px;
    height: 40px;
  }

  .result-title {
    margin: 10px 0;
    font-size: 24px;
  }

  .category-item {
    margin-bottom: 15px;
  }

  .category-item-header {
    margin: 0px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
  }

  .category-item-title {
    margin: 0px;
  }



  /*score categorys stules*/
  .score-category-item {
    position: relative;
  }

  .score-cover-icon {
    position: absolute;
    left: 0px;
    color: white;
    background: #00000094;
    width: 100%;
    height: 100%;
    border-radius: 5%;
  }

  /*results-page*/
  .category-results-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 28px;
    margin-bottom: 0px;
  }

  .results {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .category-results-title p {
    margin-bottom: 10px;
  }

  .result-item {
    margin-bottom: 15px;
  }

  .result-cover {
    width: 230px;
    height: 240px;
    border-radius: 5%;
  }

  /*all popup styles*/
  .popup {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, .5)
  }
  
  .popup .popup-content {
    position: absolute;
    text-align: center;
    width: 450px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #f3f0f0;
    border-radius: 20px;
  }

  .popup p {
    margin-top: 60px;
    font-size: 24px;
    color: #000000;
  }

  .popup-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .popup-btn {
    border-color: #000000;
    color: #000000;
    width: 150px;
    height: 48px;
  }

  .popup .popup-close {
    position: absolute;
    margin: 0px;
    padding: 0px;
    z-index: 999999;
    top: 0;
    right: 1rem;
    width: 2rem;
    height: 20px;
    text-align: center;
    border: none;
    background: #f3f0f0;
    font-size: 3rem;
    color: #24241f;
  }

  /*answer popup styles*/
  .answer-popup .main-popup {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .answer-popup-img {
    width: 50%;
    border-radius: 6%;
  }

  .answer-info {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 20px;
  }

  .answer-text {
    margin-bottom: 5px;
  }

  .answer-popup-btn {
    margin-top: 5px;
  }

  .right {
    background-color: #80e459 !;
  }

  .right .popup-close {
    background-color: #80e459;
  }

  .false {
    background-color: #e94e4e !important;
  }

  .false .popup-close{
    background-color: #e94e4e;
  }

  /*result popup's slyles*/
  .clear-popup .main-popup, .fail-popup .main-popup, .topscore-popup .main-popup {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: #000000;
  }

  .clear-popup-img, .fail-popup-img {
    width: 35%;
    margin-top: 40px;
  }

  .clear-score, .fail-score, .topscore-score {
    margin-top: 0px;
    font-size: 50px;
    font-weight: 700;
  }

  .clear-text {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 28px;
  }

  .clear-popup .popup-btn, .fail-popup .popup-btn, .topscore-popup .popup-btn {
    width: 160px;
    height: 55px;
  }

  .clear-popup .popup-btn:first-child, .fail-popup .popup-btn:first-child, .topscore-popup .popup-btn:first-child {
    margin-right: 30px;
  }

  /*topscore popup styles*/
  .topscore-popup-img {
    margin-top: 20px;
    width: 70%;
  }
}

@media (max-width: 520px) {
  /*start page styles*/
  .start-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .start-title {
    margin: 0px;
    margin-top: 330px;
    font-size: 42px;
    font-weight: 700;
  }

  .quiz-select {
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-btn {
    margin-bottom: 20px;
  }

  .settings-button {
    top: 20px;
    right: 20px;
  }

  /*setings style*/
  .settings-container {
    margin: 0px;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
  }

  .settings-header {
    width: 100%;
    margin-bottom: 50px;
  }
  
  .settings-header > .return-block {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .return-block > span {
    margin: 0px;
    font-size: 24px;
    margin-right: 115px;
  }
  
  .settings-header > .header-btn {
    display: none;
  }
  
  .setting-block {
    margin-bottom: 50px;
  }
  
  .setting-title {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  .volume-control {
    width: 290px;
    display: flex;
    flex-direction: column;
  }

  .set {
    margin-left: 20px;
  }
  
  .select-time-block {
    margin-bottom: 50px;
  }

  .save-settings {
    position: relative;
    min-width: 100%;
    justify-content: space-between;
  }

  .save-settings > .main-btn {
    width: 156px;
    height: 56px;
    border-radius: 60px;
  }

  /*category page styles*/
  .category-container {
    width: 95%;
  }
  
  .category-header {
    width: 100%;
    margin: 0px;
  }

  .category-header > .logo {
    display: flex;
    margin: 0px;
    width: 100%;
    font-size: 42px;
    line-height: 42px;
    align-items: center;
    justify-content: center;
  }

  .logo-title {
    text-align: center;
    margin: 20px 0px;
  }

  .logo-title > span {
    color: #FFBCA2;
  }

  .home-icon {
    width: 40px;
    height: 40px;
  }

  .categories-title {
    margin: 10px 0;
    font-size: 20px;
  }

  .categories {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .category-item {
    margin: 0px;
    margin-bottom: 15px;
  }

  .category-item-header {
    margin: 0px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .category-item-title {
    margin: 0px;
  }

  .category-cover {
    width: 155px;
    height: 164px;
    border-radius: 5%;
  }

  .main-footer {
    position: relative;
  }

  /*picture-question styles*/
  .picture-question-page .question-header {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .picture-question-page .time-range {
    width: 260px;
    height: 5px;
  }

  .picture-question-page .time-range::-webkit-slider-thumb {
    height: 5px !important;
    width: 5px !important;
    margin-top: -1px !important;
  }

  .picture-question-page .question-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .picture-question-page .question-text {
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
  }

  .picture-question-page .question-img {
    width: 328px;
    height: 294px;
    border-radius: 5%;
    margin-bottom: 25px;
  }

  .picture-question-page .answers-block {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .picture-question-page .answer-btn {
    width: 157px;
    height: 48px;
  }

  /*artist-question styles*/
  .artist-question-page .question-header {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .artist-question-page .time-range {
    width: 260px;
    height: 5px;
  }

  .artist-question-page .time-range::-webkit-slider-thumb {
    height: 5px !important;
    width: 5px !important;
    margin-top: -1px !important;
  }

  .artist-question-page .question-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .artist-question-page .question-text {
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
  }

  .artist-question-page .answers-block {
    margin-bottom: 115px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .artist-question-page .answer-img {
    width: 155px;
    height: 164px;
    border-radius: 5%;
    margin-bottom: 10px;
  }

  /*results page styles*/
  /*.result-container {
    width: 95%;
  }

  .result-header {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

  }
  
  .result-header > .logo {
    margin: 0px;
    width: 100%;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  .logo-title {
    margin: 20px 0px;
  }

  .logo-title > span {
    color: #FFBCA2;
  }

  .control-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .home-icon {
    width: 40px;
    height: 40px;
  }

  .result-title {
    margin: 10px 0;
    font-size: 20px;
  }

  .categories {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .category-item {
    margin-bottom: 15px;
  }

  .category-item-header {
    margin: 0px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .category-item-title {
    margin: 0px;
  }*/

  /*score categorys stules*/
  .score-category-item {
    position: relative;
  }

  .score-cover-icon {
    position: absolute;
    left: 0px;
    color: white;
    background: #00000094;
    width: 100%;
    height: 100%;
    border-radius: 5%;
  }

  /*results-page*/
  .category-results-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .results {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .result-item {
    margin-bottom: 15px;
  }

  .result-cover {
    width: 90px;
    height: 96px;
    border-radius: 5%;
  }

  /*all popup styles*/
  .popup {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, .5)
  }
  
  .popup .popup-content {
    position: absolute;
    text-align: center;
    width: 343px;
    height: 258px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #f3f0f0;
    border-radius: 20px;
  }

  .popup p {
    margin-top: 60px;
    font-size: 24px;
    color: #000000;
  }

  .popup-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .popup-btn {
    border-color: #000000;
    color: #000000;
    width: 150px;
    height: 48px;
  }

  .popup .popup-close {
    position: absolute;
    margin: 0px;
    padding: 0px;
    z-index: 999999;
    top: 0;
    right: 1rem;
    width: 2rem;
    height: 20px;
    text-align: center;
    border: none;
    background: #f3f0f0;
    font-size: 3rem;
    color: #24241f;
  }

  /*answer popup styles*/
  .answer-popup .main-popup {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .answer-popup-img {
    width: 40%;
  }

  .answer-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
  }

  .answer-text {
    margin-bottom: 5px;
  }

  .answer-popup-btn {
    margin-top: 20px;
  }

  .right {
    background-color: #80e459 !;
  }

  .right .popup-close {
    background-color: #80e459;
  }

  .false {
    background-color: #e94e4e !important;
  }

  .false .popup-close{
    background-color: #e94e4e;
  }

  /*result popup's slyles*/
  .clear-popup .main-popup, .fail-popup .main-popup, .topscore-popup .main-popup {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .clear-popup-img, .fail-popup-img {
    width: 25%;
    margin-top: 20px;
  }

  .clear-text {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 22px;
    color: #000000;
  }

  .clear-score, .fail-score, .topscore-score {
    margin-top: 5px;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
  }

  .clear-popup .popup-btn, .fail-popup .popup-btn, .topscore-popup .popup-btn {
    width: 120px;
    height: 40px;
  }

  .clear-popup .popup-btn:first-child, .fail-popup .popup-btn:first-child, .topscore-popup .popup-btn:first-child {
    margin-right: 10px;
  }

  /*topscore popup styles*/
  .topscore-popup-img {
    margin-top: 10px;
    width: 50%;
  }
}